- provide :title, @service.name
#service_page_container
	#service_content
		%h1= @service.name
		= raw @service.body

		#call_to_action For friendly sevice and a free estimate please call 01362 687 144 or click here to request a call back

	= render 'shared/promotions_container', page: @page