- provide :title, 'Promotion Cards'
= link_to 'Create New Promotion Card', [:new, :admin, :promotion_card], class: 'action_link'

%h1 Promotion Cards

%table
  %thead
    %tr
      %th
        Card
      %th{'colspan' => 2}
  %tbody
    - @promotion_cards.each do |pc|
      %tr
        %td= render 'shared/promotion_card', promotion_card: pc

        %td= link_to 'edit', [:edit, :admin, pc]
        %td= link_to 'delete', [:admin, pc], method: 'delete', confirm: 'Are you sure?'
