#footer_container
	#logo_panel= image_tag 'logo_panel.jpg'
	#footer_catchline
		#email_link Email Us
		Tank Replacement Services Ltd, Church Farm, Station Road, Wendling,  Dereham, Norfolk, NR19 2NE
	#footer_info
		#company_info
			© Copyright 2016, Tank Replacement Services Ltd.

