#footer_container
	#logo_panel= image_tag 'logo_panel.jpg'
	#footer_catchline
		#email_link Email Us
		Tank Replacement Services Ltd, Church Farm, Station Road, Wendling,  Dereham, Norfolk, NR19 2NE
	#footer_info
		#design_info
			Site design by aarlsen.co.uk
			%br
			Site build by DesignTec.co.uk
		#company_info
			Company Registration Number xxxxxxxxxxx, Place of Registration xxxxxxxxxxx VAT Number xxxxxxxxxxxxxxxxxxxx
			%br
			Registered Officexxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

