#promotions_container
	= render 'shared/promotion_card', promotion_card: PromotionCard.first
	= render 'shared/promotion_card', promotion_card: PromotionCard.second
	= render 'shared/promotion_card', promotion_card: PromotionCard.third