#promotions_container
	.promotion.boiler_servicing
		.promotion_inner
			%h2 Oil Boiler Servicing
			%p We provide excellent value oil fired boiler servicing for most parts of Norfolk and Suffolk.
			= link_to 'More', '#'

	.promotion.delivery
		.promotion_inner
			%h2 Delivery Nationwide
			%p For commercial and Fuel Master Steel Tanks we can deliver to any part of the UK.
			= link_to 'More', '#'

	.promotion.oil_leak
		.promotion_inner
			%h2 Oil Leak Emergency?
			%p Split tank? Leaking oil? Call our 24/7 emergency call out number (Norfolk and Suffolk only).
			= link_to 'More', '#'