= link_to 'Create New Project', [:new, :admin, :project], class: 'action_link'
%h1 Projects

%table
  %thead
    %tr
      %th
        Name
      %th{'colspan' => 2}
  %tbody
    - @projects.each do |project|
      %tr
        %td
          = project.name
        %td.controls
          = link_to 'edit', [:edit, :admin, project]
        %td.controls
          = link_to 'delete', [:admin, project], method: 'delete', confirm: 'Are you sure?', class: ['delete']
