- provide :title, @page.name

#header_image{style: "background-image: url(#{@page.banner});"}

- if @page.catchline
	#page_catchline
		= raw @page.catchline

#page_content
	#page_content_inner
		= raw @page.body

	= render 'shared/promotions_container', page: @page