#enquiry_form_page
  %h1 Oil Tank Enquiry
  %p Please fill out the form below to enquire about our Oil Tank services. One of our team will read it and get back to you to assist.
  #errors= render 'shared/form_errors', object: @enquiry
  = render 'form'