#faq_page_container
	max-width: 600px
	margin: 30px auto 0

	.question_container
		margin: 5px 0
		border: 1px solid $primary_color
		border-bottom: 5px solid $primary_color

		.question
			background: $light_primary_color
			padding: 15px

		.answer
			padding: 0 15px