#footer_container
	color: $primary_color
	clear: both
	margin-top: 40px

	#logo_panel
		border-top: 1px solid $primary_color
		border-bottom: 1px solid $primary_color

	#footer_catchline 
		background: $secondary_color
		padding: 15px

		#email_link
			float: right

	#footer_info
		font-size: 0.625em
		padding: 15px
		line-height: 1.25em
		height: 50px

		#design_info
			float: right
			text-align: right
