#promotions_container
  +flex(0)
  color: white
  min-width: 360px
  padding-top: 10px
.service_banner
  width: 100%
  display: block
#page_catchline
  background: $secondary_color
  color: $primary_color
  text-align: center
  font-size: 1.625em
  padding: 10px
  font-weight: bold
  line-height: 1.25em

#page_content
  color: #727272

  @media screen and (min-width: 700px)
    +flexbox

  #page_content_inner
    padding: 25px
    +flex-grow(1)

    h1
      font-size: 1.25em

    h2
      font-size: 1em

#narrow_page_content_inner
  max-width: 500px
  margin: 50px auto

  h1,a
    color: $primary_color

#enquiry_form_page
  max-width: 800px
  padding: 30px
  margin: 0 auto

.enq_link
  font-size: 1.125rem
  text-decoration: underline
  color: $blue