#promotions_container
	+flex-grow(0)
	+flex-shrink(0)
	width: 330px
	color: white

	.promotion
		background-repeat: no-repeat
		background-position: 50%
		padding: 20px 15px
		margin: 20px 0
		box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.5)

		.promotion_inner
			width: 65%

		h2
			text-transform: uppercase
			font-size: 1.125em
			margin: 0
			font-weight: bold
		p
			margin: 0
		a
			text-transform: uppercase
			text-decoration: underline

		&.boiler_servicing
			background-color: #F37020
			background-image: image_url('boiler_servicing_background.jpg') 

		&.delivery
			background-color: #FCBA26
			background-image: image_url('delivery_nationwide_background.jpg') 
		
		&.oil_leak
			background-color: #FCBA26
			background-image: image_url('oil_leak_background.jpg') 
